# Your Binance Futures Testnet API Keys
BINANCE_API_KEY="FTKGY8Zz4P2TtKxE0TQeFOqKrs2n1ikjAJXjyVR8YfKfdWRdnH5Udy7mLfFwxPJX"
BINANCE_API_SECRET="Ig4geEfGlctbtdsvu5fPSx3eVsD31kBB7qhPN6pxi6on5HcL3sRzsO3mlZZfvTf5"
